{% extends "base.html" %}

{% block content %}
{{ super() }}
<style>
   form {
    margin-left: 20px;
   }

</style>
<body bgcolor="#FFFAFA">
<form class="film_form" action="" method="post">
    <h1>Редактирование фильма</h1>

    {{ form.hidden_tag() }}

    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control", value=film.title) }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.year.label }}<br>
        {{ form.year(class="form-control", value=film.year) }}<br>
        {% for error in form.year.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control", value=film.genre) }}<br>
        {% for error in form.genre.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.duration.label }}<br>
        {{ form.duration(class="form-control", value=film.duration) }}<br>
        {% for error in form.duration.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.director.label }}<br>
        {{ form.director(class="form-control", value=film.director) }}<br>
        {% for error in form.director.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>

    <p>
        {{ form.description.label }}<br>
        <textarea name="description" id="description" cols="87" rows="5">{{film.description}} </textarea>
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}
    <a href="/catalog" class="btn btn-primary">Отмена</a>
    </p>
    {{message}}
</form>
{% endblock %}
</body>