{% extends 'base.html' %}

{% block content %}
{{ super() }}
<style>
   div.image {
    float: left;
   }
   div.text {
    margin-left: 580px;
   }
</style>
<body>

<div class="main">
    <h2>О сайте</h2>
    <div class="image">
        <img src="static/image/photo.jpg" width="550">
    </div>
    <div class="text">
        <p>Мы рады видеть Вас на нашем сайте.</p>
        <p>Мы открываем для Вас многообразие мира кино.</p>
        <p>Самый большой каталог фильмов, сериалов и анимации в России. </p>
        <p>В нашем каталоге представлено более 70 000 фильмов, мультфильмов и сериалов. </p>
        <p>С момента запуска сервис посетили более 20 млн пользователей. </p>
        <p>Ежемесячная аудитория составляет 2,8 млн человек.</p>
    </div>
</div>
</body>
{% endblock %}
